<form method="POST" action="<?php echo $pay_url; ?>">
	<div class="buttons">
		<div class="pull-right">
			<input type="submit" name="m_process" value="<?php echo $button_confirm; ?>" class="btn btn-primary" />
		</div>
	</div>
</form>